---
import AboutLayout from '../layouts/AboutLayout.astro';
---

<AboutLayout title="Tentang Desa Kami">
  <h1>Tentang Desa Kami</h1>
  <p>Selamat Datang di Ponjong: Hidden Gem di Gunung Kidul</p>
  
</AboutLayout>

<style>
  
</style>